#chat {
    border-radius: 10px;
    background-color: white;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#chat > p {
    margin-bottom: 0;
    color: black !important;
}

#chat-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#input-msg
{
    margin-top: 5%;
    border-radius: 10px;
}
