.container {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    align-items: center;
    padding: 50px;
}

.col {
    flex-direction: column;
}

.title {
    font-size: 4.5rem;
    padding: 50px;
}

.presentation {
    font-size: 1.3rem;
    text-align: justify;
    text-align-last: center;
    border-radius: 10px;
    padding: 0 50px 50px 50px;
}
