.container {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    align-items: center;
    padding: 50px;
}

.col {
    flex-direction: column;
}

.title {
    font-size: 4rem;
    padding: 50px;
}

.presentation {
    font-size: 1.25rem;
    text-align: justify;
    text-align-last: center;
}
