.row {
    margin: 0;

}

#topBar-wrapper {
    padding: 0;
}

#topBar
{
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(102, 204, 255);
    margin: 0;
    padding: 8px 0;
}


.main {
    padding-bottom: 0;
}
