.chrono {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/chrono.png');
    background-position: center;
    padding-top: 21px;
}

.big-counter {
    padding-left: 20px;
}

.small-counter {
    padding-left: 24.5px;
}

.inline {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}
