.chrono {
    width: 60px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 60px;
    background-repeat: no-repeat;
    background-image: url('https://media.giphy.com/media/YWmGm0UFfYnQs/giphy.gif');
}

.chrono p {
    color: #000000 !important;
    width: 70px;
    text-align: center;
}
