canvas {
    background-color: white;
    image-rendering: pixelated;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: initial;
    opacity: 0.8;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay > h1 {
    margin-bottom: 80px;
    font-size: 3vw;
}

@media screen and (min-width: 1201px) {
    .scores {
        width: 30%;
        font-size: 25px;
    }
}
@media screen and (max-width: 1200px) {
    .scores {
        width: 40%;
        font-size: 20px;
    }
}

.scores .rank {
    text-align: right;
    width:48%;
    white-space:nowrap;
}
.scores .username {
    width:2%;
    white-space:nowrap;
}
.scores .score {
    text-align: left;
    width:48%;
    white-space:nowrap;
}

#canvas-wrap {
    position:relative;
    line-height: 0;
    height: 100%;
    width: 100%;
    display: inline-table;
}
