canvas {
    background-color: white;
    image-rendering: pixelated;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: initial;
    opacity: 0.8;
    background-color: black;
}

.text_overlay {
    text-align: center;
    font-size: 30px;
}

#canvas-wrap {
    position:relative;
    line-height: 0;
    height: 100%;
    width: 100%;
    display: inline-table;
}
