#canvas {
    border: solid 1px;
    background-color: white;
}

#overlay {
    position: absolute;
    width: 700px;
    height: 600px;
    background-color: black;
    opacity: 0.8;
}

.text_overlay
{
    text-align: center;
    font-size: 30px;
}
